body {
  /*This green background colour was used to see if there were any gaps in padding*/
  background-color: limegreen;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 120rem;
  justify-content: center;
  align-items: center;
  font-optical-sizing: auto;
  font-style: normal;
}

.content {
  /*Went with flexbox over grid display because I just prefer it and it seemed simpler*/
  display: flex;
  flex-direction: column;
  width: 60rem;
  max-width: 60rem;
  align-items: center;
  justify-content: center;
}

.topbar {
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: Impact;
  /*This keeps the topbar always at the top of the page even if you scroll*/
  position: fixed;

  display: flex;
  margin: auto;
  width: 120rem;
  max-height: 1rem;
  max-width: 120rem;
  padding: 1rem;
  top: 0;
  left: 0;
  justify-content: space-around;
}

.name {
  font-size: 1rem;
  text-align: left;
}

.link {
  font-size: 1rem;
  text-align: right;
}

h1 {
  color: navy;
  /*Custom Google font*/
  font-family: "graduate";
}

p {
  color: black;
  /*Custom Google font*/
  font-family: "electrolize";
}

.box1 {
  background-color: white;
  color: black;
  width: 110rem;
  font-size: 1rem;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  /*This very first box is the only one with a margin-top in order to place it below the topbar*/
  margin-top: 2rem;
}

.box2 {
  background-color: #ebebeb;
  color: black;
  width: 110rem;
  font-size: 1rem;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
}

.box3 {
  background-color: white;
  color: black;
  width: 110rem;
  font-size: 1rem;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
}
