/*curly braces = grouping
square brackets = js
round brackets = js
arrows/parantheses = html
semicolon = end line
colon = property declaration
syntax = language rules
hyphen = connect words*/
body {
  background-color: lavender;
}
h1 {
  color: red;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2,
h3 {
  color: navy;
  text-align: center;
  font-size: 20px;
}
li {
  color: navy;
  border: 1px solid;
  text-align: center;
}
#outcome {
  color: purple;
}
#welcome {
  text-align: center;
}

p {
  color: #0000f0;
  font-family: "Electrolize", san-serif;
  font-size: 12px;
}
