body {
  font-family: sans-serif;
  color: #ffffff;
  background-color: #d3ebe8;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.6rem;
  background-color: #718bad;
  color: white;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map {
  position: absolute;
  top: 1;
  left: 0;
  width: max-content;
  height: max-content;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 0rem;
  justify-content: center;
  align-items: center;
  background-color: #d3ebe8;
}

svg {
  width: 120rem;
  height: 52rem;
}

path {
  fill: #bfbfbf;
  stroke: black;
}

path:hover {
  fill: #575757;
}
