video {
  display: block;
  margin-bottom: 20px;
  width: 600px;
  height: 400px;
}

#play-button {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  margin-right: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

#pause-button {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;
  background-color: red;
  color: white;
}

#play-pause-button {
  margin-left: 30px;
}
