body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

/* vt323 is the name of a font on Google Fonts which is quite similar to the Undertale font used in-game. I wanted to try to match Undertale's aesthetic with my audio player */
#vt323 {
  font-family: "VT323", monospace;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: normal;
}

/* black and white colours certainly feel like the main colours of Undertale */
body {
  font-family: "Arial", sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

/* Main content container (the big white box) */
.container {
  max-width: 40rem;
  margin-top: 20rem;
  margin: auto;
  margin-bottom: 5rem;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  height: 22rem;
  border: 1px white solid;
  border-radius: 50px;
  text-align: center;
}

/* This is specifically styling the song name */
#textbox {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  max-width: 40rem;
  font-family: "VT323", monospace;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 6.8rem;
}

/* Header styling */
header {
  background-color: #1a1a1a;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-bottom: 4.2rem;
}

/* Button container for the 'jump-to' buttons above the white box */
#button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

/* These next few buttons are the actual jump-to buttons for the most popular Undertale songs */
#jump-to-24-btn {
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  background-color: black;
}

#jump-to-46-btn {
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  background-color: black;
}

#jump-to-59-btn {
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  background-color: black;
}

#jump-to-77-btn {
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  background-color: black;
}

#jump-to-100-btn {
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  background-color: black;
}

/* Audio player styling */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.controls button {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* I just thought buttons decreasing size when hovered over was neat */
button:hover {
  scale: 0.8;
}

/* Footer styling */
footer {
  margin-top: 8.8rem;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
